/* GLOBAL */
:root {
  --main-font: 'Times New Roman', Times, serif;
  --sans: "Untitled Sans", Arial, Helvetica, sans-serif;
  --primary-color: #505050;
  --secondary-color: #9D57FF;
  --thin-border: 1.5px solid var(--primary-color);
  --spacing: 1rem 1.5rem;

  --real-vh: 100vh;
 }
 
 /* RESETS */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :focus {
	outline: thin dotted;
} */

::selection {
	background-color: var(--secondary-color);
	color: white;
}

ul {
	list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:focus h3 {
  outline: thin dotted;
}

img {
  width: 100%;
}


/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
  font-family: var(--main-font);
}

h3 {
  font-size: 1.2rem;
}

a:hover {
  color: black;
}

.purple-link {
  text-decoration: underline;
  color: var(--secondary-color)
}

.purple-link:hover {
  color: black;
}

.back {
  font-family: var(--sans);
}

.nav-arrows .left svg {
  transform: rotate(180deg);
}

.nav-arrows svg {
  width: 28px;
}

.nav-arrows {
  display: flex;
  justify-content: space-between;
  top: 45%;
  position: absolute;
  width: 60vw;
  /* width: 150%;
  transform: translateX(-22%); */
  /* grid-template-columns: repeat(2, 1fr);
  width: 96vw; */
}

.nav-arrows > div {
  display: flex;
  justify-content: center;
}

.back-x {
  position: absolute;
  top: 0;
  right: 0;
}

.back-x svg {
  width: 25px;
}

body.freeze {
  overflow: hidden;
}
/* NAV */

nav {
  position: relative;
  display: flex;
}

nav a {
  text-transform: capitalize;
  margin-left: 3rem;
  color: var(--primary-color);
}

nav a.active, footer a.active {
  color: black;
}

nav a:hover, .title a:hover, footer a:hover, .about .links a:hover, .insta a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 12px;
  text-decoration-color: black;
}

nav a.active, footer a.active {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 12px;
  text-decoration-color: black;
}

.about .links a {
  font-size: 1.3rem;
}

footer ul {
  display: flex;
  justify-content: center;
  /* font-size: 1.2rem; */
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer ul li:first-of-type {
  padding-right: 2rem;
}

footer a {
  text-transform: capitalize;
}


/* LAYOUT */

body {
  font-family: var(--main-font); 
  padding: var(--spacing);
}

.header, footer {
 font-size: calc(1.2rem + 0.22vw);
}

.header {
 display: flex;
 justify-content: space-between;
}

section:first-of-type {
  margin-top: 2rem;
}

.feature-img {
  width: 100%;
}

/* PAINTING + SERIES GRIDS */

.paintings section, .serieses section, .series .gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

section .painting, section .series {
  padding: 3rem 0;
  text-align: center;
  color: var(--primary-color);
}

.painting h3, .series h3 {
  margin-top: 0.75rem;
  margin-bottom: 0.2rem;
}

.series h3 {
  font-style: italic;
}

.painting .subtitle, .series .subtitle {
  /* opacity: 0.7; */
  font-size: 0.9rem;
  font-family: var(--sans);
}

.painting figure img, .series figure img, .serieses img {
  margin-top: 1.5rem;
  width: auto;
  height: auto;
  /* max-width: 400px;
  max-height: 500px; */
  max-width: 60vw;
  max-height: 70vh;
}

.paintings .painting figure img {
  max-width: 20vw;
}

.painting figure img {
  max-width: 60vw;
  /* max-width: 600px; */
}


/* PAINTING */

.painting section {
  margin-top: 0;
}

.painting section.main {
  height: calc(var(--real-vh) - 2vh);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.painting .painting h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.painting .painting {
  padding: 1rem 2rem;
  position: relative;
}

/* PAINTING VIEWER */
  
.painting .header {
  display: none;
}

  .painting section.main {
    margin-top: 0rem;
  }


/* SERIES */

.serieses section, .series section, .paintings section  {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.series .heading {
  text-align: center;
}

.series h1 {
  margin-bottom: 1rem;
}

.series .year {
  font-family: var(--sans);
  margin-top: 0.25rem;
}

.series .description {
  font-size: 1.1rem;
  margin-top: 1rem;
  opacity: 0.7;
}

.series section.main {
  padding-top: 3rem;

}

/* OTHER PAGES */

.about section:first-of-type {
  width: 80%;
  padding-left: 2rem;
}

.about section {
  font-size: 1.2rem;
}

.about p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.about .links {
  padding: 2rem 0 3rem;
  display: inline-block;
  
}

.about .links a {
  margin-right: 1rem;
}

.about .insta .headline {
  display: flex;
  justify-content: space-between;
}

/* instagram feed */

div#eapps-instagram-feed-1 {
  padding-top: 1rem;
}

.eapps-widget-toolbar {
  display: none !important
}


.cv section {
  line-height: 1.5;
  padding-left: 2rem;
}

.cv strong {
  font-family: var(--sans);
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  display: inline-block;
  text-decoration: underline;
}

.cv section a {
  text-decoration: underline;
}

.cv section a:hover {
  color: var(--secondary-color);
}

.contact section.content {
  max-width: 600px; 
  width: auto; 
  margin: 5rem auto 0;
  min-height: 65vh;
}

.contact h1, .contact h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.contact .back {
  text-align: center;
}

.contact h2 {
  margin-top: 4rem;
}

.contact form input, .contact form textarea {
  width: 100%;
  border-radius: 0;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  height: 40px;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--primary-color);
  font-family: var(--main-font);
  font-size: 1.1rem;
}

.contact form input:focus, .contact form textarea:focus {
  border-width: 1.5px;
  outline: none;
}

.contact form textarea {
  min-height: 200px;
}

.contact form label {
  color: var(--primary-color);
  font-size: 1.1rem;
}

.contact form button {
  --button-color: var(--secondary-color); 
  width: auto;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  padding: 0.74rem 3rem;
  background-color: white;
  font-family: var(--main-font);
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  margin: 0 auto 5rem;
}

.contact form button:hover, .contact form button:active, .contact form button:focus {
  --button-color: black;
  outline: none;
}
